extends ../layouts/default

block content
	include ../layouts/includes/header
	.container-fluid
		input#_csrf(type="hidden", name="_csrf", value="#{_csrf}")
		h1 Servers
		.table-responsive
			table#server_list.table.table-bordered.table-striped.table-hover
				thead
					tr
						th Name
						th Host
						th Port
						th Connections
						th Server Version
						th Total Jobs
						th PID
						th Up time
						th View
						th Delete
				tbody
					each c in config
						tr
							td #{c.name}
							td #{c.host}
							td #{c.port}
							td #{c.server_info['current-connections'] || '-'}
							td #{c.server_info.version || '-'}
							td #{c.server_info['total-jobs'] || '-'}
							td #{c.server_info.pid || '-'}
							td #{c.server_info.uptime || '-'}
							td
								a(href="/#{encodeURIComponent(c.host)}:#{c.port}").btn.btn-primary View
							td
								button.btn.btn-danger.delete Delete
		button.btn.btn-primary#btn_add_server Add Server
		.modal.fade#add_server
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Add Server
					.modal-body
						form#server_form.form-horizontal(role="form")
							.form-group
								label.col-sm-2.control-label(for="name") Name
								.col-sm-10
									input.form-control#name(type="text", placeholder="My cool beanstalk server")
							.form-group
								label.col-sm-2.control-label(for="host") Host
								.col-sm-10
									input.form-control#host(type="text", placeholder="192.168.0.1 / my-cool-beanstalk-server.com")
							.form-group
								label.col-sm-2.control-label(for="port") Port
								.col-sm-10
									input.form-control#port(type="text", placeholder="11300")
					.modal-footer
						span.preloader
							img(src="/assets/images/preloader.gif")
						button.btn.btn-default(type="button", data-dismiss="modal") Close
						button.btn.btn-primary#btn_save_server(type="button") Add
		.modal.fade#delete_server
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Delete Server
					.modal-body
						input#delete_server_host(type="hidden", name="delete_server_host", value="")
						input#delete_server_port(type="hidden", name="delete_server_port", value="")
						p
							| Delete&nbsp;
							span#delete_server_name
							| ?
					.modal-footer
						span.preloader
							img(src="/assets/images/preloader.gif")
						button.btn.btn-default(type="button", data-dismiss="modal") Close
						button.btn.btn-danger#btn_delete_server(type="button") Delete
	!= js('lib/validator/js/validator.min')
	!= js('js/home/server')