extends ../layouts/default

block content
	include ../layouts/includes/header
	.container-fluid
		input#_csrf(type="hidden", name="_csrf", value="#{_csrf}")
		input#host(type="hidden", name="host", value="#{host}")
		input#port(type="hidden", name="port", value="#{port}")
		input#tube(type="hidden", name="tube", value="#{tube}")
		h1
			a(href="/#{encodeURIComponent(host)}:#{port}") #{name?name + ' - ':''}#{host}:#{port}
			| &nbsp;/ #{tube}
		hr
		.alert.alert-warning#not_found(class=((Object.keys(tube_info).length > 0)?'hide':'')) Tube not found
		table.table.table-bordered.table-hover.table-striped#tube_table(class=((Object.keys(tube_info).length > 0)?'':'hide'))
			thead
				tr
					th name
					th Urgent
					th Ready
					th Reserved
					th Delayed
					th Buried
					th Total
					th Using
					th Watching
					th Waiting
					th Delete (cmd)
					th Pause (cmd)
					th Pause (sec)
					th Pause (left)
			tbody
				tr
					td #{tube_info.name}
					td #{tube_info['current-jobs-urgent']}
					td #{tube_info['current-jobs-ready']}
					td #{tube_info['current-jobs-reserved']}
					td #{tube_info['current-jobs-delayed']}
					td #{tube_info['current-jobs-buried']}
					td #{tube_info['total-jobs']}
					td #{tube_info['current-using']}
					td #{tube_info['current-watching']}
					td #{tube_info['current-waiting']}
					td #{tube_info['cmd-delete']}
					td #{tube_info['cmd-pause-tube']}
					td #{tube_info.pause}
					td #{tube_info['pause-time-left']}

		#tube-controls
			strong Actions:&nbsp;
			ul
				li
					.btn-group
						button.btn.btn-warning#btn_kick
							i.glyphicon.glyphicon-play
							| &nbsp;Kick 1
						button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown",aria-expanded="false")
							span.caret
							span.sr-only Toggle Dropdown
						ul.dropdown-menu#ul_kick(role="menu")
							li
								a(href="javascript:void(0)", data-value="10")
									i.glyphicon.glyphicon-forward
									| &nbsp;Kick 10
							li
								a(href="javascript:void(0)", data-value="100")
									i.glyphicon.glyphicon-forward
									| &nbsp;Kick 100
							li
								a(href="javascript:void(0)", data-value="1000")
									i.glyphicon.glyphicon-forward
									| &nbsp;Kick 1000
							//li
								a(href="javascript:void(0)", data-value="all")
									i.glyphicon.glyphicon-fast-forward
									| &nbsp;Kick all
				li
					.btn-group
						button.btn.btn-danger#btn_delete
							i.glyphicon.glyphicon-trash
							| &nbsp;Delete 1
						button.btn.btn-danger.dropdown-toggle(data-toggle="dropdown",aria-expanded="false")
							span.caret
							span.sr-only Toggle Dropdown
						ul.dropdown-menu#ul_delete(role="menu")
							li
								a(href="javascript:void(0)", data-value="10")
									i.glyphicon.glyphicon-trash
									| &nbsp;Delete 10
							li
								a(href="javascript:void(0)", data-value="100")
									i.glyphicon.glyphicon-trash
									| &nbsp;Delete 100
							li
								a(href="javascript:void(0)", data-value="1000")
									i.glyphicon.glyphicon-trash
									| &nbsp;Delete 1000
							//li
								a(href="javascript:void(0)", data-value="all")
									i.glyphicon.glyphicon-remove
									| &nbsp;Delete all
				li
					button.btn.btn-default#btn_pause
						i.glyphicon(class=(tube_info['pause-time-left'] > 0)?'glyphicon-play':'glyphicon-pause')
						if (tube_info['pause-time-left'] > 0)
							| &nbsp;Unpause
						else
							| &nbsp;Pause
				li
					button.btn.btn-success#btn_add_job
						i.glyphicon.glyphicon-plus
						| &nbsp;Add job
				li
					span.preloader.action
						img(src="/assets/images/preloader.gif")
		hr

		each stat_key in Object.keys(stats)
			div(id=stat_key)
				.row-fluid
					.span.col-md-12
						h4 Next job in "#{stat_key.split('_')[1]}" state
				.row-fluid.detail(class=(stats[stat_key]?'':'hide'))
					.span.col-md-2
						p
							strong Stats
						table.table.table-condensed
							tbody
								if stats[stat_key]
									each key in Object.keys(stats[stat_key].stat)
										tr
											td #{key}
											td #{stats[stat_key].stat[key]}
					.span.col-md-10
						p
							strong Job data:
						pre
							code #{stats[stat_key]?(stats[stat_key].payload_json || stats[stat_key].payload):''}
				.row-fluid
					.span.col-md-12
						hr

		.modal.fade#add_job
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Add new job
					.modal-body
						form#server_form.form-horizontal(role="form")
							.form-group
								label.col-sm-2.control-label(for="tube_name") Tube Name
								.col-sm-10
									input.form-control#tube_name.required(type="text", value="")
							.form-group
								label.col-sm-2.control-label(for="payload") Payload
								.col-sm-10
									textarea.form-control#payload.required
							.form-group
								label.col-sm-2.control-label(for="priority") Priority
								.col-sm-10
									input.form-control#priority(type="text", value="")
							.form-group
								label.col-sm-2.control-label(for="delay") Delay
								.col-sm-10
									input.form-control#delay(type="text", value="")
							.form-group
								label.col-sm-2.control-label(for="ttr") TTR
								.col-sm-10
									input.form-control#ttr(type="text", value="")
					.modal-footer
						span.preloader
							img(src="/assets/images/preloader.gif")
						button.btn.btn-default(type="button", data-dismiss="modal") Close
						button.btn.btn-primary#btn_add_job_confirm(type="button") Add

	!= js('lib/jquery.color/js/jquery.color.min')
	!= js('js/common')
	!= js('js/server/tube')